################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeInventory/obj/Debug
/HomeInventory/bin/Debug
